In [1]:
import numpy as np
import pandas as pd
import glob

In [2]:
path_list = glob.glob('*')
path_list

['ccf_offline_stage1_test_revised.csv',
 'ccf_offline_stage1_train',
 'ccf_online_stage1_train',
 'df_offline.csv',
 'df_offline_predict.csv',
 'df_online.csv',
 'o2o优惠券使用预测_特征工程.ipynb',
 'sample_submission.csv',
 'xgb.model',
 '特征工程2.ipynb']

In [39]:
# 用户线下消费和优惠券领取行为
df_offline = pd.read_csv('./ccf_offline_stage1_train/ccf_offline_stage1_train.csv',sep = ',')
df_offline

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0
1,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN
2,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN
3,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN
4,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN
5,1439408,2632,NaN,NaN,0.0,NaN,20160516.0
6,1439408,2632,8591.0,20:1,0.0,20160516.0,20160613.0
7,1832624,3381,7610.0,200:20,0.0,20160429.0,NaN
8,2029232,3381,11951.0,200:20,1.0,20160129.0,NaN
9,2029232,450,1532.0,30:5,0.0,20160530.0,NaN
10,2029232,6459,12737.0,20:1,0.0,20160519.0,NaN
11,2029232,6459,NaN,NaN,0.0,NaN,20160626.0
12,2029232,6459,NaN,NaN,0.0,NaN,20160519.0
13,2747744,6901,1097.0,50:10,NaN,20160606.0,NaN
14,196342,1579,NaN,NaN,1.0,NaN,20160606.0
15,196342,1579,10698.0,20:1,1.0,20160606.0,NaN
16,2223968,3381,9776.0,10:5,2.0,20160129.0,NaN
17,73611,2099,12034.0,100:10,NaN,20160207.0,NaN
18,163606,1569,5054.0,200:30,10.0,20160421.0,NaN
19,3273056,4833,7802.0,200:20,10.0,20160130.0,NaN
20,94107,3381,7610.0,200:20,2.0,20160412.0,NaN
21,253750,8390,NaN,NaN,0.0,NaN,20160327.0
22,253750,6901,2366.0,30:5,0.0,20160518.0,NaN
23,253750,8390,7531.0,20:5,0.0,20160327.0,NaN
24,343660,4663,11002.0,150:20,NaN,20160528.0,NaN
25,376492,1041,13490.0,30:5,2.0,20160127.0,NaN
26,1964720,7884,NaN,NaN,10.0,NaN,20160115.0
27,1964720,7884,6704.0,20:1,10.0,20160215.0,NaN
28,4191584,3051,NaN,NaN,0.0,NaN,20160519.0
29,4191584,3051,NaN,NaN,0.0,NaN,20160516.0
...,...,...,...,...,...,...,...
1754854,179830,6284,4567.0,50:10,1.0,20160124.0,NaN
1754855,179830,6284,7379.0,50:10,1.0,20160124.0,NaN
1754856,179830,3710,13056.0,150:10,4.0,20160124.0,NaN
1754857,179830,2099,12034.0,100:10,1.0,20160124.0,NaN
1754858,179830,4660,1480.0,100:10,0.0,20160125.0,NaN
1754859,179830,5341,7751.0,50:10,0.0,20160123.0,NaN
1754860,179830,7555,17.0,30:5,7.0,20160123.0,NaN
1754861,179830,760,3237.0,20:5,0.0,20160124.0,NaN
1754862,179830,2099,12034.0,100:10,1.0,20160203.0,NaN
1754863,343276,4206,NaN,NaN,5.0,NaN,20160425.0
1754864,653784,195,NaN,NaN,0.0,NaN,20160418.0
1754865,653784,195,NaN,NaN,0.0,NaN,20160416.0
1754866,3795296,5341,111.0,30:5,0.0,20160129.0,NaN
1754867,188086,6568,NaN,NaN,0.0,NaN,20160415.0
1754868,188086,6568,NaN,NaN,0.0,NaN,20160626.0
1754869,188086,6568,4723.0,30:1,0.0,20160415.0,NaN
1754870,188086,6568,NaN,NaN,0.0,NaN,20160417.0
1754871,188086,6568,NaN,NaN,0.0,NaN,20160604.0
1754872,212662,3532,NaN,NaN,1.0,NaN,20160308.0
1754873,212662,2934,5686.0,30:5,2.0,20160321.0,20160330.0
1754874,212662,2934,NaN,NaN,2.0,NaN,20160513.0
1754875,212662,2934,NaN,NaN,2.0,NaN,20160512.0
1754876,212662,3532,5267.0,30:5,1.0,20160322.0,NaN
1754877,212662,3021,3739.0,30:1,6.0,20160504.0,20160508.0
1754878,212662,2934,5686.0,30:5,2.0,20160321.0,20160322.0
1754879,212662,3532,NaN,NaN,1.0,NaN,20160322.0
1754880,212662,3021,3739.0,30:1,6.0,20160508.0,20160602.0
1754881,212662,2934,NaN,NaN,2.0,NaN,20160321.0
1754882,752472,7113,1633.0,50:10,6.0,20160613.0,NaN
1754883,752472,3621,2705.0,20:5,0.0,20160523.0,NaN

In [3]:
# 从Date中提取出正负样本的标记
def change_Data(x):
    if np.isnan(x['Coupon_id']) and not np.isnan(x['Date']):
        return 0#负样本--普通样本
    elif not np.isnan(x['Coupon_id']) and np.isnan(x['Date']):
        return 2#普通样本--负样本
    elif not np.isnan(x['Coupon_id']) and not np.isnan(x['Date']):
        return 1#正样本

In [4]:
# Date_received当中时间的提取
def extract_time(x):
    if np.isnan(x):
        return [-10,-10,-10]
    else:
        x = str(x)
        x = x[:-2]
        year = x[:4]
        month = x[4:6]
        day = x[6:]
        return [int(year),int(month),int(day)]

In [5]:
# 优惠率：x \in [0,1]代表折扣率；x:y表示满x减y。单位是元
def discount_rate_ratio(x):
    x = str(x)
    if x == 'fixed':
        return -10
    if ':' not in x:
        x = float(x)
        if x >= 0 and x <= 1:
            return x
        else:
            return -10
    else:
        return -10

In [6]:
# 获取满x减y的x            
def discount_rate_x(x):
    x = str(x)
    if ':' in str(x):
        list_x = x.split(':')
        return int(list_x[0])
    else:
        return -1

In [7]:
# 获取满x减y的y
def discount_rate_y(x):
    x = str(x)
    if ':' in str(x):
        list_x = x.split(':')
        return int(list_x[1])
    else:
        return -10

In [8]:
# 将Distance里面的异常值去掉
def distance(x):
    if np.isnan(x):
        return -10
    else:
        return float(x)

In [9]:
# 添加是否有优惠券的标记
def has_Coupen2(x):
    if isinstance(x, float):
        if np.isnan(x):
            return 0
        else:
            return 1

In [296]:
# 测试怎么使用 ,原来的数据集太大了，速度慢，选取一小部分来测试    
df0 = df_offline.iloc[[i for i in range(100,200,1)]]
time_about =(list(df0['Date_received'].apply(extract_time)))
# s1 = ([x[1] for x in time_about])
# print(s1)
df0['year'] = [x[0] for x in time_about]
df0['month'] = [x[1] for x in time_about]
df0['day'] = [x[2] for x in time_about]
# df0['samples_class'] = df0.apply(change_Data, axis = 1)
# df0['discount_rate_x'] = df0['Discount_rate'].apply(discount_rate_x)
# df0['discount_rate_y'] = df0['Discount_rate'].apply(discount_rate_y)
# df0['discount_rate_ratio'] = df0['Discount_rate'].apply(discount_rate_ratio)
# df0['Distance'] = df0['Distance'].apply(distance)
df0

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,year,month,day
100,114747,3381,9776.0,10:5,0.0,20160129.0,20160221.0,2016,1,29
101,114747,4833,13628.0,200:20,1.0,20160130.0,NaN,2016,1,30
102,114747,5341,NaN,NaN,0.0,NaN,20160621.0,-10,-10,-10
103,114747,5341,11539.0,30:5,0.0,20160128.0,NaN,2016,1,28
104,245878,760,2418.0,30:5,0.0,20160601.0,NaN,2016,6,1
105,3409760,5341,7751.0,50:10,1.0,20160128.0,NaN,2016,1,28
106,3409760,6901,2366.0,30:5,7.0,20160530.0,NaN,2016,5,30
107,3409760,7555,17.0,30:5,10.0,20160126.0,NaN,2016,1,26
108,3409760,450,8555.0,30:5,10.0,20160126.0,NaN,2016,1,26
109,3409760,5341,111.0,30:5,1.0,20160127.0,NaN,2016,1,27
110,3409760,4660,1480.0,100:10,10.0,20160126.0,NaN,2016,1,26
111,3409760,7706,416.0,100:10,2.0,20160128.0,NaN,2016,1,28
112,983640,6134,767.0,200:20,NaN,20160124.0,NaN,2016,1,24
113,344428,1940,NaN,NaN,1.0,NaN,20160324.0,-10,-10,-10
114,656088,4142,4773.0,100:10,1.0,20160123.0,NaN,2016,1,23
115,656088,4142,4773.0,100:10,1.0,20160123.0,NaN,2016,1,23
116,656088,4142,NaN,NaN,1.0,NaN,20160123.0,-10,-10,-10
117,820056,2709,2840.0,100:10,2.0,20160201.0,NaN,2016,2,1
118,2231648,3621,2705.0,20:5,1.0,20160522.0,NaN,2016,5,22
119,94347,8386,10823.0,200:50,10.0,20160127.0,NaN,2016,1,27
120,94347,4860,8105.0,100:30,10.0,20160127.0,NaN,2016,1,27
121,94347,4860,9586.0,100:30,10.0,20160203.0,NaN,2016,2,3
122,94347,6454,14031.0,100:10,10.0,20160128.0,NaN,2016,1,28
123,180502,3403,7632.0,20:5,2.0,20160327.0,NaN,2016,3,27
124,180502,3403,7632.0,20:5,2.0,20160327.0,NaN,2016,3,27
125,180502,3403,NaN,NaN,2.0,NaN,20160327.0,-10,-10,-10
126,951384,2709,2840.0,100:10,2.0,20160125.0,NaN,2016,1,25
127,951384,4660,1480.0,100:10,10.0,20160125.0,NaN,2016,1,25
128,951384,6284,7379.0,50:10,10.0,20160125.0,NaN,2016,1,25
129,951384,450,8555.0,30:5,2.0,20160125.0,NaN,2016,1,25
...,...,...,...,...,...,...,...,...,...,...
170,65787,3381,11951.0,200:20,3.0,20160129.0,NaN,2016,1,29
171,127227,760,3237.0,20:5,9.0,20160129.0,NaN,2016,1,29
172,127227,3621,2705.0,20:5,0.0,20160510.0,NaN,2016,5,10
173,127227,3381,9776.0,10:5,1.0,20160129.0,NaN,2016,1,29
174,127227,3621,13398.0,0.9,0.0,20160302.0,NaN,2016,3,2
175,127227,1041,13490.0,30:5,1.0,20160129.0,NaN,2016,1,29
176,127227,3381,11951.0,200:20,1.0,20160129.0,NaN,2016,1,29
177,127227,6424,1315.0,100:10,0.0,20160129.0,NaN,2016,1,29
178,197110,2241,NaN,NaN,0.0,NaN,20160318.0,-10,-10,-10
179,197110,8479,7360.0,10:1,0.0,20160526.0,NaN,2016,5,26
180,197110,2241,NaN,NaN,0.0,NaN,20160408.0,-10,-10,-10
181,197110,2241,NaN,NaN,0.0,NaN,20160616.0,-10,-10,-10
182,197110,2241,NaN,NaN,0.0,NaN,20160610.0,-10,-10,-10
183,197110,2241,7845.0,10:1,0.0,20160318.0,NaN,2016,3,18
184,919512,7706,416.0,100:10,10.0,20160129.0,NaN,2016,1,29
185,919512,2099,NaN,NaN,0.0,NaN,20160417.0,-10,-10,-10
186,919512,2099,12034.0,100:10,0.0,20160129.0,NaN,2016,1,29
187,919512,5341,7751.0,50:10,3.0,20160129.0,NaN,2016,1,29
188,919512,2146,11173.0,100:10,10.0,20160129.0,NaN,2016,1,29
189,919512,5341,111.0,30:5,3.0,20160129.0,NaN,2016,1,29
190,919512,3710,13056.0,150:10,10.0,20160129.0,NaN,2016,1,29
191,1380272,1569,12961.0,100:30,10.0,20160201.0,NaN,2016,2,1
192,1380272,2099,12034.0,100:10,1.0,20160201.0,20160205.0,2016,2,1
193,1380272,5341,7751.0,50:10,0.0,20160201.0,20160206.0,2016,2,1
194,1380272,5341,11539.0,30:5,0.0,20160205.0,NaN,2016,2,5
195,1380272,5341,11539.0,30:5,0.0,20160206.0,NaN,2016,2,6
196,1380272,760,3237.0,20:5,0.0,20160201.0,NaN,2016,2,1
197,1380272,5341,111.0,30:5,0.0,20160201.0,20160205.0,2016,2,1
198,1380272,450,8555.0,30:5,3.0,20160201.0,NaN,2016,2,1
199,3809120,3381,7610.0,200:20,2.0,20160411.0,NaN,2016,4,11

In [40]:
df_offline2 = df_offline
df_offline2['samples_class'] = df_offline2.apply(change_Data, axis = 1)
df_offline2['has_Coupon'] = df_offline2['Coupon_id'].apply(has_Coupen)
df_offline2['discount_rate_x'] = df_offline2['Discount_rate'].apply(discount_rate_x)
df_offline2['discount_rate_y'] = df_offline2['Discount_rate'].apply(discount_rate_y)
df_offline2['discount_rate_ratio'] = df_offline2['Discount_rate'].apply(discount_rate_ratio)
df_offline2['Distance'] = df_offline2['Distance'].apply(distance)

In [41]:
time_get =list(df_offline2['Date_received'].apply(extract_time))
df_offline2['get_year'] = [x[0] for x in time_get]
df_offline2['get_month'] = [x[1] for x in time_get]
df_offline2['get_day'] = [x[2] for x in time_get]
time_use =list(df_offline2['Date'].apply(extract_time))
df_offline2['use_year'] = [x[0] for x in time_use]
df_offline2['use_month'] = [x[1] for x in time_use]
df_offline2['use_day'] = [x[2] for x in time_use]

In [42]:
df_offline2['has_Coupon'] = df_offline2['Coupon_id'].apply(has_Coupen2)

In [43]:
offline_list2 = list(df_offline2.columns)
print(offline_list2)
df_offline2 = df_offline2[['User_id','Coupon_id','Distance','discount_rate_x','discount_rate_y',
                            'discount_rate_ratio','get_year','get_month','get_day','use_year',
                            'use_month','use_day','has_Coupon','samples_class']]
df_offline2.to_csv('df_offline.csv', index = False)

['User_id', 'Merchant_id', 'Coupon_id', 'Discount_rate', 'Distance', 'Date_received', 'Date', 'samples_class', 'has_Coupon', 'discount_rate_x', 'discount_rate_y', 'discount_rate_ratio', 'get_year', 'get_month', 'get_day', 'use_year', 'use_month', 'use_day']

In [39]:
df_offline2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1754884 entries, 0 to 1754883
Data columns (total 14 columns):
User_id                int64
Coupon_id              float64
Distance               float64
discount_rate_x        int64
discount_rate_y        int64
discount_rate_ratio    float64
get_year               int64
get_month              int64
get_day                int64
use_year               int64
use_month              int64
use_day                int64
has_Coupon             float64
samples_class          int64
dtypes: float64(4), int64(10)
memory usage: 187.4 MB

In [313]:
?df01.to_csv

In [44]:
df01 = pd.read_csv('df_offline.csv',sep = ',')
df01

,User_id,Coupon_id,Distance,discount_rate_x,discount_rate_y,discount_rate_ratio,get_year,get_month,get_day,use_year,use_month,use_day,has_Coupon,samples_class
0,1439408,NaN,0.0,-1,-10,-10.0,-10,-10,-10,2016,2,17,0,0
1,1439408,11002.0,1.0,150,20,-10.0,2016,5,28,-10,-10,-10,1,2
2,1439408,8591.0,0.0,20,1,-10.0,2016,2,17,-10,-10,-10,1,2
3,1439408,1078.0,0.0,20,1,-10.0,2016,3,19,-10,-10,-10,1,2
4,1439408,8591.0,0.0,20,1,-10.0,2016,6,13,-10,-10,-10,1,2
5,1439408,NaN,0.0,-1,-10,-10.0,-10,-10,-10,2016,5,16,0,0
6,1439408,8591.0,0.0,20,1,-10.0,2016,5,16,2016,6,13,1,1
7,1832624,7610.0,0.0,200,20,-10.0,2016,4,29,-10,-10,-10,1,2
8,2029232,11951.0,1.0,200,20,-10.0,2016,1,29,-10,-10,-10,1,2
9,2029232,1532.0,0.0,30,5,-10.0,2016,5,30,-10,-10,-10,1,2
10,2029232,12737.0,0.0,20,1,-10.0,2016,5,19,-10,-10,-10,1,2
11,2029232,NaN,0.0,-1,-10,-10.0,-10,-10,-10,2016,6,26,0,0
12,2029232,NaN,0.0,-1,-10,-10.0,-10,-10,-10,2016,5,19,0,0
13,2747744,1097.0,-10.0,50,10,-10.0,2016,6,6,-10,-10,-10,1,2
14,196342,NaN,1.0,-1,-10,-10.0,-10,-10,-10,2016,6,6,0,0
15,196342,10698.0,1.0,20,1,-10.0,2016,6,6,-10,-10,-10,1,2
16,2223968,9776.0,2.0,10,5,-10.0,2016,1,29,-10,-10,-10,1,2
17,73611,12034.0,-10.0,100,10,-10.0,2016,2,7,-10,-10,-10,1,2
18,163606,5054.0,10.0,200,30,-10.0,2016,4,21,-10,-10,-10,1,2
19,3273056,7802.0,10.0,200,20,-10.0,2016,1,30,-10,-10,-10,1,2
20,94107,7610.0,2.0,200,20,-10.0,2016,4,12,-10,-10,-10,1,2
21,253750,NaN,0.0,-1,-10,-10.0,-10,-10,-10,2016,3,27,0,0
22,253750,2366.0,0.0,30,5,-10.0,2016,5,18,-10,-10,-10,1,2
23,253750,7531.0,0.0,20,5,-10.0,2016,3,27,-10,-10,-10,1,2
24,343660,11002.0,-10.0,150,20,-10.0,2016,5,28,-10,-10,-10,1,2
25,376492,13490.0,2.0,30,5,-10.0,2016,1,27,-10,-10,-10,1,2
26,1964720,NaN,10.0,-1,-10,-10.0,-10,-10,-10,2016,1,15,0,0
27,1964720,6704.0,10.0,20,1,-10.0,2016,2,15,-10,-10,-10,1,2
28,4191584,NaN,0.0,-1,-10,-10.0,-10,-10,-10,2016,5,19,0,0
29,4191584,NaN,0.0,-1,-10,-10.0,-10,-10,-10,2016,5,16,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1754854,179830,4567.0,1.0,50,10,-10.0,2016,1,24,-10,-10,-10,1,2
1754855,179830,7379.0,1.0,50,10,-10.0,2016,1,24,-10,-10,-10,1,2
1754856,179830,13056.0,4.0,150,10,-10.0,2016,1,24,-10,-10,-10,1,2
1754857,179830,12034.0,1.0,100,10,-10.0,2016,1,24,-10,-10,-10,1,2
1754858,179830,1480.0,0.0,100,10,-10.0,2016,1,25,-10,-10,-10,1,2
1754859,179830,7751.0,0.0,50,10,-10.0,2016,1,23,-10,-10,-10,1,2
1754860,179830,17.0,7.0,30,5,-10.0,2016,1,23,-10,-10,-10,1,2
1754861,179830,3237.0,0.0,20,5,-10.0,2016,1,24,-10,-10,-10,1,2
1754862,179830,12034.0,1.0,100,10,-10.0,2016,2,3,-10,-10,-10,1,2
1754863,343276,NaN,5.0,-1,-10,-10.0,-10,-10,-10,2016,4,25,0,0
1754864,653784,NaN,0.0,-1,-10,-10.0,-10,-10,-10,2016,4,18,0,0
1754865,653784,NaN,0.0,-1,-10,-10.0,-10,-10,-10,2016,4,16,0,0
1754866,3795296,111.0,0.0,30,5,-10.0,2016,1,29,-10,-10,-10,1,2
1754867,188086,NaN,0.0,-1,-10,-10.0,-10,-10,-10,2016,4,15,0,0
1754868,188086,NaN,0.0,-1,-10,-10.0,-10,-10,-10,2016,6,26,0,0
1754869,188086,4723.0,0.0,30,1,-10.0,2016,4,15,-10,-10,-10,1,2
1754870,188086,NaN,0.0,-1,-10,-10.0,-10,-10,-10,2016,4,17,0,0
1754871,188086,NaN,0.0,-1,-10,-10.0,-10,-10,-10,2016,6,4,0,0
1754872,212662,NaN,1.0,-1,-10,-10.0,-10,-10,-10,2016,3,8,0,0
1754873,212662,5686.0,2.0,30,5,-10.0,2016,3,21,2016,3,30,1,1
1754874,212662,NaN,2.0,-1,-10,-10.0,-10,-10,-10,2016,5,13,0,0
1754875,212662,NaN,2.0,-1,-10,-10.0,-10,-10,-10,2016,5,12,0,0
1754876,212662,5267.0,1.0,30,5,-10.0,2016,3,22,-10,-10,-10,1,2
1754877,212662,3739.0,6.0,30,1,-10.0,2016,5,4,2016,5,8,1,1
1754878,212662,5686.0,2.0,30,5,-10.0,2016,3,21,2016,3,22,1,1
1754879,212662,NaN,1.0,-1,-10,-10.0,-10,-10,-10,2016,3,22,0,0
1754880,212662,3739.0,6.0,30,1,-10.0,2016,5,8,2016,6,2,1,1
1754881,212662,NaN,2.0,-1,-10,-10.0,-10,-10,-10,2016,3,21,0,0
1754882,752472,1633.0,6.0,50,10,-10.0,2016,6,13,-10,-10,-10,1,2
1754883,752472,2705.0,0.0,20,5,-10.0,2016,5,23,-10,-10,-10,1,2

In [21]:
#  用户线上点击/消费和优惠券领取行为
df_online = pd.read_csv('./ccf_online_stage1_train/ccf_online_stage1_train.csv', sep = ',')
# df_online.loc[[i for i in range(100,200,1)]]
df_online.groupby('Action')[['Date','Coupon_id']].count()

           Date  Coupon_id
Action
0       9401780          0
1       1372148     216459
2             0     655898

In [10]:
# 从Date中提取出正负样本的标记
# Coupon_id是str/float的格式，Date是float的格式
def change_Data1(x):
#     print(type(x['Coupon_id']),type(x['Date']))
    if isinstance(x['Coupon_id'], float):
        if not np.isnan(x['Coupon_id']) and np.isnan(x['Date']):
            return -1
        elif np.isnan(x['Coupon_id']) and not np.isnan(x['Date']):
            return 0  
    elif isinstance(x['Coupon_id'], str):
        if not np.isnan(x['Date']) :
            return 1
        elif np.isnan(x['Date']):
            return -1
        elif x['Coupon_id'] == 'fixed':
            return -10

In [11]:
# 添加限时优惠的标记
def add_fixed(x):
#     print(type(x['Discount_rate']),type(x['Coupon_id']))
    if isinstance(x['Discount_rate'], str) and isinstance(x['Coupon_id'], str):
        if 'fixed' == x['Discount_rate']:
            return 1
        else:
            return -10
    else:
        return -10

In [12]:
# 添加是否有优惠券的标记
def has_Coupen(x):
    if isinstance(x, float):
        if np.isnan(x):
            return 0
    else:
        return 1

In [22]:
# 测试怎么使用 ,原来的数据集太大了，速度慢，选取一小部分来测试    
df11 = df_online.loc[[i for i in range(0,100,1)]]
df11

,User_id,Merchant_id,Action,Coupon_id,Discount_rate,Date_received,Date
0,13740231,18907,2,100017492,500:50,20160513.0,NaN
1,13740231,34805,1,NaN,NaN,NaN,20160321.0
2,14336199,18907,0,NaN,NaN,NaN,20160618.0
3,14336199,18907,0,NaN,NaN,NaN,20160618.0
4,14336199,18907,0,NaN,NaN,NaN,20160618.0
5,14336199,18907,0,NaN,NaN,NaN,20160618.0
6,14336199,18907,0,NaN,NaN,NaN,20160618.0
7,14336199,18907,0,NaN,NaN,NaN,20160618.0
8,14336199,18907,0,NaN,NaN,NaN,20160618.0
9,14336199,18907,0,NaN,NaN,NaN,20160618.0
10,14336199,38810,0,NaN,NaN,NaN,20160126.0
11,14336199,38810,0,NaN,NaN,NaN,20160126.0
12,14336199,38810,0,NaN,NaN,NaN,20160126.0
13,14336199,38810,0,NaN,NaN,NaN,20160126.0
14,14336199,18907,0,NaN,NaN,NaN,20160127.0
15,14336199,18907,0,NaN,NaN,NaN,20160127.0
16,14336199,37005,0,NaN,NaN,NaN,20160412.0
17,14336199,14305,0,NaN,NaN,NaN,20160127.0
18,14336199,18907,0,NaN,NaN,NaN,20160618.0
19,10539231,12008,1,NaN,NaN,NaN,20160618.0
20,10539231,31904,0,NaN,NaN,NaN,20160107.0
21,10539231,12008,1,NaN,NaN,NaN,20160618.0
22,14438631,55412,0,NaN,NaN,NaN,20160630.0
23,14438631,55412,0,NaN,NaN,NaN,20160630.0
24,14438631,38013,0,NaN,NaN,NaN,20160614.0
25,14438631,55412,0,NaN,NaN,NaN,20160629.0
26,14438631,58215,0,NaN,NaN,NaN,20160421.0
27,14438631,29814,0,NaN,NaN,NaN,20160530.0
28,14438631,55412,0,NaN,NaN,NaN,20160630.0
29,15034599,45003,0,NaN,NaN,NaN,20160411.0
...,...,...,...,...,...,...,...
70,11237631,26608,0,NaN,NaN,NaN,20160504.0
71,11237631,33910,0,NaN,NaN,NaN,20160124.0
72,11237631,39810,0,NaN,NaN,NaN,20160223.0
73,15137031,25104,2,100120354,150:50,20160613.0,NaN
74,15137031,44706,2,100071973,50:5,20160317.0,NaN
75,15137031,18206,1,NaN,NaN,NaN,20160514.0
76,15137031,18206,1,NaN,NaN,NaN,20160514.0
77,15137031,18206,1,NaN,NaN,NaN,20160514.0
78,15137031,18206,1,NaN,NaN,NaN,20160514.0
79,15137031,18206,1,NaN,NaN,NaN,20160514.0
80,15137031,18206,1,NaN,NaN,NaN,20160514.0
81,15137031,18206,1,NaN,NaN,NaN,20160514.0
82,15137031,18206,1,NaN,NaN,NaN,20160514.0
83,15137031,18206,1,NaN,NaN,NaN,20160514.0
84,15137031,18206,1,NaN,NaN,NaN,20160514.0
85,15137031,18206,1,NaN,NaN,NaN,20160514.0
86,15137031,18206,1,NaN,NaN,NaN,20160514.0
87,15137031,18206,1,NaN,NaN,NaN,20160514.0
88,15137031,18206,1,NaN,NaN,NaN,20160514.0
89,15137031,18206,1,NaN,NaN,NaN,20160514.0
90,15137031,18206,1,NaN,NaN,NaN,20160514.0
91,15137031,18206,1,NaN,NaN,NaN,20160514.0
92,15137031,18206,1,NaN,NaN,NaN,20160421.0
93,15137031,18206,1,NaN,NaN,NaN,20160421.0
94,15137031,18206,1,NaN,NaN,NaN,20160421.0
95,15137031,18206,1,NaN,NaN,NaN,20160421.0
96,15137031,18206,1,NaN,NaN,NaN,20160421.0
97,15137031,18206,1,NaN,NaN,NaN,20160421.0
98,15137031,18206,1,NaN,NaN,NaN,20160421.0
99,15137031,18206,1,NaN,NaN,NaN,20160421.0

In [24]:
# 使用小数据集测试效果，速度快
df11['samples_class'] = df11.apply(change_Data1, axis = 1)
df11['has_Coupon'] = df11['Coupon_id'].apply(has_Coupen)
time_get =list(df11['Date_received'].apply(extract_time))
df11['get_year'] = [x[0] for x in time_get]
df11['get_month'] = [x[1] for x in time_get]
df11['get_day'] = [x[2] for x in time_get]
time_use =list(df11['Date'].apply(extract_time))
df11['use_year'] = [x[0] for x in time_use]
df11['use_month'] = [x[1] for x in time_use]
df11['use_day'] = [x[2] for x in time_use]
df11['discount_rate_x'] = df11['Discount_rate'].apply(discount_rate_x)
df11['discount_rate_y'] = df11['Discount_rate'].apply(discount_rate_y)
df11['discount_rate_fixed'] = df11.apply(add_fixed, axis = 1)
df11['discount_rate_ratio'] = df11['Discount_rate'].apply(discount_rate_ratio)

df11

,User_id,Merchant_id,Action,Coupon_id,Discount_rate,Date_received,Date,samples_class,has_Coupon,get_year,get_month,get_day,use_year,use_month,use_day,discount_rate_x,discount_rate_y,discount_rate_fixed,discount_rate_ratio
0,13740231,18907,2,100017492,500:50,20160513.0,NaN,-1,1,2016,5,13,-10,-10,-10,500,50,-10,-10
1,13740231,34805,1,NaN,NaN,NaN,20160321.0,0,0,-10,-10,-10,2016,3,21,-1,-10,-10,-10
2,14336199,18907,0,NaN,NaN,NaN,20160618.0,0,0,-10,-10,-10,2016,6,18,-1,-10,-10,-10
3,14336199,18907,0,NaN,NaN,NaN,20160618.0,0,0,-10,-10,-10,2016,6,18,-1,-10,-10,-10
4,14336199,18907,0,NaN,NaN,NaN,20160618.0,0,0,-10,-10,-10,2016,6,18,-1,-10,-10,-10
5,14336199,18907,0,NaN,NaN,NaN,20160618.0,0,0,-10,-10,-10,2016,6,18,-1,-10,-10,-10
6,14336199,18907,0,NaN,NaN,NaN,20160618.0,0,0,-10,-10,-10,2016,6,18,-1,-10,-10,-10
7,14336199,18907,0,NaN,NaN,NaN,20160618.0,0,0,-10,-10,-10,2016,6,18,-1,-10,-10,-10
8,14336199,18907,0,NaN,NaN,NaN,20160618.0,0,0,-10,-10,-10,2016,6,18,-1,-10,-10,-10
9,14336199,18907,0,NaN,NaN,NaN,20160618.0,0,0,-10,-10,-10,2016,6,18,-1,-10,-10,-10
10,14336199,38810,0,NaN,NaN,NaN,20160126.0,0,0,-10,-10,-10,2016,1,26,-1,-10,-10,-10
11,14336199,38810,0,NaN,NaN,NaN,20160126.0,0,0,-10,-10,-10,2016,1,26,-1,-10,-10,-10
12,14336199,38810,0,NaN,NaN,NaN,20160126.0,0,0,-10,-10,-10,2016,1,26,-1,-10,-10,-10
13,14336199,38810,0,NaN,NaN,NaN,20160126.0,0,0,-10,-10,-10,2016,1,26,-1,-10,-10,-10
14,14336199,18907,0,NaN,NaN,NaN,20160127.0,0,0,-10,-10,-10,2016,1,27,-1,-10,-10,-10
15,14336199,18907,0,NaN,NaN,NaN,20160127.0,0,0,-10,-10,-10,2016,1,27,-1,-10,-10,-10
16,14336199,37005,0,NaN,NaN,NaN,20160412.0,0,0,-10,-10,-10,2016,4,12,-1,-10,-10,-10
17,14336199,14305,0,NaN,NaN,NaN,20160127.0,0,0,-10,-10,-10,2016,1,27,-1,-10,-10,-10
18,14336199,18907,0,NaN,NaN,NaN,20160618.0,0,0,-10,-10,-10,2016,6,18,-1,-10,-10,-10
19,10539231,12008,1,NaN,NaN,NaN,20160618.0,0,0,-10,-10,-10,2016,6,18,-1,-10,-10,-10
20,10539231,31904,0,NaN,NaN,NaN,20160107.0,0,0,-10,-10,-10,2016,1,7,-1,-10,-10,-10
21,10539231,12008,1,NaN,NaN,NaN,20160618.0,0,0,-10,-10,-10,2016,6,18,-1,-10,-10,-10
22,14438631,55412,0,NaN,NaN,NaN,20160630.0,0,0,-10,-10,-10,2016,6,30,-1,-10,-10,-10
23,14438631,55412,0,NaN,NaN,NaN,20160630.0,0,0,-10,-10,-10,2016,6,30,-1,-10,-10,-10
24,14438631,38013,0,NaN,NaN,NaN,20160614.0,0,0,-10,-10,-10,2016,6,14,-1,-10,-10,-10
25,14438631,55412,0,NaN,NaN,NaN,20160629.0,0,0,-10,-10,-10,2016,6,29,-1,-10,-10,-10
26,14438631,58215,0,NaN,NaN,NaN,20160421.0,0,0,-10,-10,-10,2016,4,21,-1,-10,-10,-10
27,14438631,29814,0,NaN,NaN,NaN,20160530.0,0,0,-10,-10,-10,2016,5,30,-1,-10,-10,-10
28,14438631,55412,0,NaN,NaN,NaN,20160630.0,0,0,-10,-10,-10,2016,6,30,-1,-10,-10,-10
29,15034599,45003,0,NaN,NaN,NaN,20160411.0,0,0,-10,-10,-10,2016,4,11,-1,-10,-10,-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,11237631,26608,0,NaN,NaN,NaN,20160504.0,0,0,-10,-10,-10,2016,5,4,-1,-10,-10,-10
71,11237631,33910,0,NaN,NaN,NaN,20160124.0,0,0,-10,-10,-10,2016,1,24,-1,-10,-10,-10
72,11237631,39810,0,NaN,NaN,NaN,20160223.0,0,0,-10,-10,-10,2016,2,23,-1,-10,-10,-10
73,15137031,25104,2,100120354,150:50,20160613.0,NaN,-1,1,2016,6,13,-10,-10,-10,150,50,-10,-10
74,15137031,44706,2,100071973,50:5,20160317.0,NaN,-1,1,2016,3,17,-10,-10,-10,50,5,-10,-10
75,15137031,18206,1,NaN,NaN,NaN,20160514.0,0,0,-10,-10,-10,2016,5,14,-1,-10,-10,-10
76,15137031,18206,1,NaN,NaN,NaN,20160514.0,0,0,-10,-10,-10,2016,5,14,-1,-10,-10,-10
77,15137031,18206,1,NaN,NaN,NaN,20160514.0,0,0,-10,-10,-10,2016,5,14,-1,-10,-10,-10
78,15137031,18206,1,NaN,NaN,NaN,20160514.0,0,0,-10,-10,-10,2016,5,14,-1,-10,-10,-10
79,15137031,18206,1,NaN,NaN,NaN,20160514.0,0,0,-10,-10,-10,2016,5,14,-1,-10,-10,-10
80,15137031,18206,1,NaN,NaN,NaN,20160514.0,0,0,-10,-10,-10,2016,5,14,-1,-10,-10,-10
81,15137031,18206,1,NaN,NaN,NaN,20160514.0,0,0,-10,-10,-10,2016,5,14,-1,-10,-10,-10
82,15137031,18206,1,NaN,NaN,NaN,20160514.0,0,0,-10,-10,-10,2016,5,14,-1,-10,-10,-10
83,15137031,18206,1,NaN,NaN,NaN,20160514.0,0,0,-10,-10,-10,2016,5,14,-1,-10,-10,-10
84,15137031,18206,1,NaN,NaN,NaN,20160514.0,0,0,-10,-10,-10,2016,5,14,-1,-10,-10,-10
85,15137031,18206,1,NaN,NaN,NaN,20160514.0,0,0,-10,-10,-10,2016,5,14,-1,-10,-10,-10
86,15137031,18206,1,NaN,NaN,NaN,20160514.0,0,0,-10,-10,-10,2016,5,14,-1,-10,-10,-10
87,15137031,18206,1,NaN,NaN,NaN,20160514.0,0,0,-10,-10,-10,2016,5,14,-1,-10,-10,-10
88,15137031,18206,1,NaN,NaN,NaN,20160514.0,0,0,-10,-10,-10,2016,5,14,-1,-10,-10,-10
89,15137031,18206,1,NaN,NaN,NaN,20160514.0,0,0,-10,-10,-10,2016,5,14,-1,-10,-10,-10
90,15137031,18206,1,NaN,NaN,NaN,20160514.0,0,0,-10,-10,-10,2016,5,14,-1,-10,-10,-10
91,15137031,18206,1,NaN,NaN,NaN,20160514.0,0,0,-10,-10,-10,2016,5,14,-1,-10,-10,-10
92,15137031,18206,1,NaN,NaN,NaN,20160421.0,0,0,-10,-10,-10,2016,4,21,-1,-10,-10,-10
93,15137031,18206,1,NaN,NaN,NaN,20160421.0,0,0,-10,-10,-10,2016,4,21,-1,-10,-10,-10
94,15137031,18206,1,NaN,NaN,NaN,20160421.0,0,0,-10,-10,-10,2016,4,21,-1,-10,-10,-10
95,15137031,18206,1,NaN,NaN,NaN,20160421.0,0,0,-10,-10,-10,2016,4,21,-1,-10,-10,-10
96,15137031,18206,1,NaN,NaN,NaN,20160421.0,0,0,-10,-10,-10,2016,4,21,-1,-10,-10,-10
97,15137031,18206,1,NaN,NaN,NaN,20160421.0,0,0,-10,-10,-10,2016,4,21,-1,-10,-10,-10
98,15137031,18206,1,NaN,NaN,NaN,20160421.0,0,0,-10,-10,-10,2016,4,21,-1,-10,-10,-10
99,15137031,18206,1,NaN,NaN,NaN,20160421.0,0,0,-10,-10,-10,2016,4,21,-1,-10,-10,-10

In [12]:
df_online2 = df_online
df_online2['samples_class'] = df_online2.apply(change_Data1, axis = 1)
time_get =list(df_online2['Date_received'].apply(extract_time))
df_online2['get_year'] = [x[0] for x in time_get]
df_online2['get_month'] = [x[1] for x in time_get]
df_online2['get_day'] = [x[2] for x in time_get]
time_use =list(df_online2['Date'].apply(extract_time))
df_online2['use_year'] = [x[0] for x in time_use]
df_online2['use_month'] = [x[1] for x in time_use]
df_online2['use_day'] = [x[2] for x in time_use]

In [13]:
df_online2['discount_rate_x'] = df_online2['Discount_rate'].apply(discount_rate_x)
df_online2['discount_rate_y'] = df_online2['Discount_rate'].apply(discount_rate_y)
df_online2['discount_rate_fixed'] = df_online2.apply(add_fixed, axis = 1)
df_online2['discount_rate_ratio'] = df_online2['Discount_rate'].apply(discount_rate_ratio)

In [14]:
df_online2 = df_online2[['User_id','Coupon_id','Action','discount_rate_x','discount_rate_y',
                         'discount_rate_ratio','discount_rate_fixed','get_year','get_month',
                         'get_day','use_year','use_month','use_day','samples_class']]
df_online2.to_csv('df_online.csv', index = False)

In [25]:
df03 = pd.read_csv('df_online.csv')
print(df03.shape)
df03['samples_class'].value_counts()
# df03

(11429826, 14)

 0    10557469
-1      655898
 1      216459
Name: samples_class, dtype: int64

In [27]:
df03['has_Coupon'] = df03['Coupon_id'].apply(has_Coupen)
df03 = df03[['User_id','Coupon_id','Action','discount_rate_x','discount_rate_y',
                         'discount_rate_ratio','discount_rate_fixed','get_year','get_month',
                         'get_day','use_year','use_month','use_day','has_Coupon','samples_class']]
df03.to_csv('df_online.csv', index = False)

In [13]:
# 用户O2O线下优惠券使用预测样本
df_offline_predict= pd.read_csv('ccf_offline_stage1_test_revised.csv', sep = ',')
df_offline_predict

        User_id  Merchant_id  Coupon_id Discount_rate  Distance  Date_received
0       4129537          450       9983          30:5       1.0       20160712
1       6949378         1300       3429          30:5       NaN       20160706
2       2166529         7113       6928        200:20       5.0       20160727
3       2166529         7113       1808        100:10       5.0       20160727
4       6172162         7605       6500          30:1       2.0       20160708
5       4005121          450       9983          30:5       0.0       20160706
6       4347394          450       9983          30:5       0.0       20160716
7       3094273          760      13602          30:5       1.0       20160727
8       5139970          450       9983          30:5      10.0       20160729
9       3237121          760      13602          30:5       1.0       20160703
10      6224386          450       9983          30:5       3.0       20160716
11      6488578          760      13602          30:5       0.0       20160712
12      4164865          450       9983          30:5       2.0       20160703
13      4164865         5138       8059         50:10       1.0       20160706
14      5468674          450       9983          30:5       NaN       20160713
15      6258178         7024       9144          10:1       0.0       20160706
16      3659521         6000       7341        150:30       6.0       20160727
17      3659521         2436      13181          20:1       3.0       20160717
18      3659521          760      13602          30:5       0.0       20160718
19      7333378          760      13602          30:5       0.0       20160704
20      7333378         6901        785          20:5       1.0       20160727
21      4454914         3621       2978          20:5       0.0       20160711
22      6817282         6362       8375        100:20       6.0       20160724
23      3149569         5717      10418          30:5       0.0       20160721
24      6301186         8318       1715          30:1       1.0       20160718
25      6301186         2199       4203        300:50       1.0       20160708
26      2891521          760      13602          30:5       0.0       20160724
27      3422977          760      13602          30:5       0.0       20160727
28      4771330          760      13602          30:5       7.0       20160726
29      4513282         1469      11799        100:10       7.0       20160712
...         ...          ...        ...           ...       ...            ...
113610  4194809         1469      11799        100:10       1.0       20160717
113611  4194809          760      13602          30:5       0.0       20160713
113612  6062585         2050      10438        200:20       2.0       20160719
113613  6062585          760      13602          30:5      10.0       20160719
113614  6074873         6955        878          20:1       0.0       20160724
113615  6342137          760      13602          30:5       7.0       20160728
113616  6342137         5138       8059         50:10       1.0       20160704
113617  6342137         8305       9822        200:20       2.0       20160724
113618  6342137         1300       3429          30:5      10.0       20160718
113619  4317689         5138       5933         50:10       1.0       20160727
113620  5110265          760      13602          30:5       2.0       20160711
113621  5110265          450       9983          30:5       2.0       20160711
113622  6422009         5798       5874          50:1       1.0       20160710
113623  4851197          450       9983          30:5      10.0       20160713
113624  4894205         3621       2978          20:5       0.0       20160711
113625  7253501          760      13602          30:5       5.0       20160714
113626  6485501          760      13602          30:5       7.0       20160720
113627  4918781         2050      10438        200:20       0.0       20160723
113628  6497789          450       9983          30:5       2.0       20160716
113629  7047677         1469       2601        100:20       1.0       20160708
113630  6786557          450       9983          30:5       0.0       20160718
113631  6801917          760      13602          30:5       1.0       20160719
113632  7066109         7024       9144          10:1       0.0       20160705
113633  4451837          760      13602          30:5       0.0       20160723
113634  5828093         3621       2978          20:5       NaN       20160716
113635  5828093         5717      10418          30:5      10.0       20160716
113636  6626813         1699       7595          30:1       NaN       20160707
113637  6626813         7321       7590          50:5       NaN       20160712
113638  4547069          760      13602          30:5       0.0       20160717
113639  6675965         7487        613          20:1       5.0       20160728

[113640 rows x 6 columns]

In [14]:
# Date_received当中时间的提取
def extract_time2(x):
    if np.isnan(x):
        return [-10,-10,-10]
    else:
        x = str(x)
        year = x[:4]
        month = x[4:6]
        day = x[6:]
        return [int(year),int(month),int(day)]

In [15]:
df_offline_predict2 = df_offline_predict
time_get =list(df_offline_predict2['Date_received'].apply(extract_time2))
df_offline_predict2['get_year'] = [x[0] for x in time_get]
df_offline_predict2['get_month'] = [x[1] for x in time_get]
df_offline_predict2['get_day'] = [x[2] for x in time_get]

In [16]:
df_offline_predict2['discount_rate_x'] = df_offline_predict2['Discount_rate'].apply(discount_rate_x)
df_offline_predict2['discount_rate_y'] = df_offline_predict2['Discount_rate'].apply(discount_rate_y)
df_offline_predict2['discount_rate_ratio'] = df_offline_predict2['Discount_rate'].apply(discount_rate_ratio)

In [17]:
df_offline_predict2 = df_offline_predict2[['User_id','Coupon_id','Distance','Date_received','discount_rate_x','discount_rate_y',
                         'discount_rate_ratio','get_year','get_month','get_day',]]
df_offline_predict2

,User_id,Coupon_id,Distance,Date_received,discount_rate_x,discount_rate_y,discount_rate_ratio,get_year,get_month,get_day
0,4129537,9983,1.0,20160712,30,5,-10.0,2016,7,12
1,6949378,3429,NaN,20160706,30,5,-10.0,2016,7,6
2,2166529,6928,5.0,20160727,200,20,-10.0,2016,7,27
3,2166529,1808,5.0,20160727,100,10,-10.0,2016,7,27
4,6172162,6500,2.0,20160708,30,1,-10.0,2016,7,8
5,4005121,9983,0.0,20160706,30,5,-10.0,2016,7,6
6,4347394,9983,0.0,20160716,30,5,-10.0,2016,7,16
7,3094273,13602,1.0,20160727,30,5,-10.0,2016,7,27
8,5139970,9983,10.0,20160729,30,5,-10.0,2016,7,29
9,3237121,13602,1.0,20160703,30,5,-10.0,2016,7,3
10,6224386,9983,3.0,20160716,30,5,-10.0,2016,7,16
11,6488578,13602,0.0,20160712,30,5,-10.0,2016,7,12
12,4164865,9983,2.0,20160703,30,5,-10.0,2016,7,3
13,4164865,8059,1.0,20160706,50,10,-10.0,2016,7,6
14,5468674,9983,NaN,20160713,30,5,-10.0,2016,7,13
15,6258178,9144,0.0,20160706,10,1,-10.0,2016,7,6
16,3659521,7341,6.0,20160727,150,30,-10.0,2016,7,27
17,3659521,13181,3.0,20160717,20,1,-10.0,2016,7,17
18,3659521,13602,0.0,20160718,30,5,-10.0,2016,7,18
19,7333378,13602,0.0,20160704,30,5,-10.0,2016,7,4
20,7333378,785,1.0,20160727,20,5,-10.0,2016,7,27
21,4454914,2978,0.0,20160711,20,5,-10.0,2016,7,11
22,6817282,8375,6.0,20160724,100,20,-10.0,2016,7,24
23,3149569,10418,0.0,20160721,30,5,-10.0,2016,7,21
24,6301186,1715,1.0,20160718,30,1,-10.0,2016,7,18
25,6301186,4203,1.0,20160708,300,50,-10.0,2016,7,8
26,2891521,13602,0.0,20160724,30,5,-10.0,2016,7,24
27,3422977,13602,0.0,20160727,30,5,-10.0,2016,7,27
28,4771330,13602,7.0,20160726,30,5,-10.0,2016,7,26
29,4513282,11799,7.0,20160712,100,10,-10.0,2016,7,12
...,...,...,...,...,...,...,...,...,...,...
113610,4194809,11799,1.0,20160717,100,10,-10.0,2016,7,17
113611,4194809,13602,0.0,20160713,30,5,-10.0,2016,7,13
113612,6062585,10438,2.0,20160719,200,20,-10.0,2016,7,19
113613,6062585,13602,10.0,20160719,30,5,-10.0,2016,7,19
113614,6074873,878,0.0,20160724,20,1,-10.0,2016,7,24
113615,6342137,13602,7.0,20160728,30,5,-10.0,2016,7,28
113616,6342137,8059,1.0,20160704,50,10,-10.0,2016,7,4
113617,6342137,9822,2.0,20160724,200,20,-10.0,2016,7,24
113618,6342137,3429,10.0,20160718,30,5,-10.0,2016,7,18
113619,4317689,5933,1.0,20160727,50,10,-10.0,2016,7,27
113620,5110265,13602,2.0,20160711,30,5,-10.0,2016,7,11
113621,5110265,9983,2.0,20160711,30,5,-10.0,2016,7,11
113622,6422009,5874,1.0,20160710,50,1,-10.0,2016,7,10
113623,4851197,9983,10.0,20160713,30,5,-10.0,2016,7,13
113624,4894205,2978,0.0,20160711,20,5,-10.0,2016,7,11
113625,7253501,13602,5.0,20160714,30,5,-10.0,2016,7,14
113626,6485501,13602,7.0,20160720,30,5,-10.0,2016,7,20
113627,4918781,10438,0.0,20160723,200,20,-10.0,2016,7,23
113628,6497789,9983,2.0,20160716,30,5,-10.0,2016,7,16
113629,7047677,2601,1.0,20160708,100,20,-10.0,2016,7,8
113630,6786557,9983,0.0,20160718,30,5,-10.0,2016,7,18
113631,6801917,13602,1.0,20160719,30,5,-10.0,2016,7,19
113632,7066109,9144,0.0,20160705,10,1,-10.0,2016,7,5
113633,4451837,13602,0.0,20160723,30,5,-10.0,2016,7,23
113634,5828093,2978,NaN,20160716,20,5,-10.0,2016,7,16
113635,5828093,10418,10.0,20160716,30,5,-10.0,2016,7,16
113636,6626813,7595,NaN,20160707,30,1,-10.0,2016,7,7
113637,6626813,7590,NaN,20160712,50,5,-10.0,2016,7,12
113638,4547069,13602,0.0,20160717,30,5,-10.0,2016,7,17
113639,6675965,613,5.0,20160728,20,1,-10.0,2016,7,28

In [18]:
df_offline_predict2['has_Coupon'] = df_offline_predict2['Coupon_id'].apply(has_Coupen)

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
df_offline_predict2.to_csv('df_offline_predict.csv', index = False)

In [20]:
df_offline_predict2 = pd.read_csv('df_offline_predict.csv')
df_offline_predict2['Distance'] = df_offline_predict2['Distance'].apply(distance)
df_offline_predict2.to_csv('df_offline_predict.csv', index = False)